.swiper-container {
    width: 100%;
    height: 100%;
  }
  html, body {
    position: relative;
    height: 100%;
    font-size:4.4vw;
}

body{
    padding:0;
    margin:0;
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;  
    font-size: 62.5%;
    background:white;
}
.deleteBox{
    position:absolute;
    width:100%;
    top:0;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    background:red;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
body .deleteBoxShow{
    height:9.8vh;
}
.bubbleBox{
    position: relative;
    height: 100vh;
}
.oneItemBox{
    font-size: 1.4rem;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 1px;
    border-radius: 50%;
}
.oneItem{
    position: absolute;
    height: 527px;
    width: 527px;
    background: url("../img/bubble_one.svg");
    border-radius: 50%;
    transition: all 1.5s;
    display:flex;
    justify-content: center;
    align-items: center;
}
.colorBox{
    position:absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 40;
    opacity: 0;
    transition: all 1.3s;
    border-radius: 50%;
}
.bubbleBox .myAnimate{

    width:200vh;
    height:200vh;
    z-index:50;
}
.bubbleBox .myAnimate .colorBox{
    opacity:1;
}
.clone{
    opacity: 0.5;
}
.beCloned{
    opacity:0.7;
}
body .deleteBoxActive{
    background: blue;
}
.first{
    display: none;
    top:35vw;
    left: 28vw;
}
.first.animate{
    animation: myFirst 3s;
}
.second{
    display: none;
    top:25vw;
    right: 28vw;
}
.second.animate{
    animation: mySecond 4s;
}
.third{
    display: none;
    top:72vw;
    right: 28vw;
}
.third.animate{
    animation: myThird 3s;
}
.forth{
    display: none;
    top:77vw;
    left: 28vw;
}
.forth.animate{
    animation: myForth 2.5s;
}
.five{
    display: none;
    top:115vw;
    right: 28vw;
}
.five.animate{
    animation: myFive 2s;
}
.add .oneItem{
    background: #CCC;
}
.add {
    display:none;
    top:120vw;
    left:28vw;
}
.add.animate{
    animation: myAdd 2s;
}
.animate{
    z-index: 10;
}

@keyframes mySecond{
    from{
        top:calc(100vh - 20vw);
        right: 28vw;
        transform:scale(0.4);
    }
    to{
        top:25vw;
        right: 28vw;
        transform:scale(1);
    }
}
@keyframes myFirst{
    0%{
        top:calc(100vh - 20vw);
        left: 28vw;
        transform:scale(0.2);
    }
    100%{
        top:35vw;
        left: 28vw;
        transform:scale(1);
    }
}
@keyframes myThird{
    from{
        top:calc(100vh - 20vw);
        right: 28vw;
        transform:scale(0.2);
    }
    to{
        top:72vw;
        right: 28vw;
        transform:scale(1);
    }
}
@keyframes myForth{
    from{
        top:calc(100vh - 20vw);
        left: 28vw;
        transform:scale(0.4);
    }
    to{
        top:77vw;
        left: 28vw;
        transform:scale(1);
    }
}
@keyframes myFive{
    from{
        top:calc(100vh - 20vw);
        right: 28vw;
        transform:scale(0.4);
    }
    to{
        top:115vw;
        right: 28vw;
        transform:scale(1);
    }
}
@keyframes myAdd{
    from{
        top:calc(100vh - 10vw);
        left: 28vw;
        transform:scale(0.4);
    }
    to{
        top:120vw;
        left: 28vw;
        transform:scale(1);
    }
}
.tool{
    position: absolute;
    bottom:10vw;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 15;
}
.refresh button{
    margin-bottom: 5vw;
    background: url("../img/button_create.svg");
    background-size: 110% 110%;
    background-position: center;
    width:318px;
    height: 108px;
    font-size: 0.8rem;
    border-radius: 10px;
    border:0;
    outline: 0;
    z-index: 2;
}
.refresh button:active{
    position: relative;
    left: 1px;
    top:1px;
}
.myBut button{
    background: url("../img/button_create.svg");
    background-size: 110% 110%;
    background-position: center;
    width:318px;
    height: 108px;
    font-size: 0.8rem;
    border-radius: 10px;
    border:0;
    outline: 0;

}
.bubbleMachine{
    position: absolute;
    width: 100%;
    bottom:0
}
.bubbleMachine .machineLeft{
    width:70px;
    height: 70px;
    background: #CCC;
    display:flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.bubbleMachine .machineRight{
    width:70px;
    height: 70px;
    background: #CCC;
    display:flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.toFirstPage{
    box-sizing:border-box;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    width: 100px;
    height: 300px;
    padding:6px;
    top:50%;
    margin-top:-45px;
    background: #f2f2f2;
    z-index: 20;
}
.toThirdPage{
    box-sizing:border-box;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    width: 100px;
    height: 300px;
    right: 0;
    padding:6px;
    top:50%;
    margin-top:-45px;
    background: #f2f2f2;
    z-index: 20;
}
.picBox{
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top:0;
    width:800px;
    height: 1000px;
    left:0;
    right:0;
    bottom:0;
    margin:auto auto;
    border:1px black solid;
    background: white;

}
.picMessage{
    margin-top: 30px;
    height: 100px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb379;
    font-size: 0.8rem;
    border:1px black solid;
}
.picDelete{
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top:10px;
    border-radius: 50%;
    outline: 0;
    border:0;
    width:80px;
    height: 80px;
}
.picBoxMask{
    position: absolute;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 999;
}
.showSearch{
    position: absolute;
}












.maxShow{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

}
.hotComment div{
    font-size: 1rem;
}
.hotComment{
    padding:0;
    margin:0;
    list-style:none;
    position: absolute;
    width:1116px;
    left:0;
    right:0;
    margin:0 auto;
    /* height: calc(95vh - 50px); */
    top: 80px;
}
.hotComment li{
    padding:0;
    margin:0;
    display: block;
    position: relative;
    height:18vw;
    border:2px black solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom:54px; 
}
.love{
    position: absolute;
    right:4vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.love img{
    height: 45px;
    width:65px;
}
.love span{
    color:red;
    font-size: 0.7rem;
}
.king{
    margin-left: 3vw;
    left:3vw;
    width:60px;
    height: 37px;
}
.king1 .king{
    background: url("../img/king1.svg");
}
.king2 .king{
    background: url("../img/king2.svg");
}
.king3 .king{
    background: url("../img/king3.svg");
}
.selfImg{
    box-sizing: border-box;
    height: 182px;
    width: 182px;
    margin-left: 2vw;
    border-radius: 7vw;
    left:10vw;
    border:0.3vw black solid;
}
.hotCommentItem{
    display: flex;
    justify-content: center;
    width:600px;
    flex-direction: column;
    font-size: 0.8rem;
    margin-left: 40px;
    
}
.hotCommentItem strong{
    font-weight:900;
    font-size: 1rem;
    display:inline-block;
}
.hotComment li button{
    padding:0;
    margin:0;
    position: absolute;
    height: 4.1vw;
    width:11.1vw;
    line-height: 4.1vw;
    text-align: center;
    right:2vw;
    bottom:1vw;
    border-radius: 1vw;
    outline: 0;
    border:0.1vw solid black;
    background: white;
}
.showSearch{
    position: absolute;
    right: 1vw;
    border-radius: 50%;
    top:60px;
    background: #b9f0ff;
    height:13.05vw;
    width:11.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.oneCommentTopic{
    width:570px;
    display: flex;
}
.oneCommentTopic div{
    vertical-align: center;
    display:inline-block;
    max-width: 400px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
.commentMessage{

    max-width: 1000px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}









.hotSearch{
    
    margin:0;
    padding:0;
    margin-left: 41.5px;
    width:1159px;
    border:#CCC solid 4px;
    border-radius: 70px;
    font-size: 1rem;
    list-style: none;
    margin-top:100px;
}
.hotSearch li{
    
    border-top: 2px solid #CCC;
    height: 175px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.hotSearchTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 372px;
}
.searchTop,.showSearch{
    display: none;
}





