.swiper-container {
    width: 100%;
    height: 100%;
  }
  html, body {
    position: relative;
    height: 100%;
    font-size:4.4vw;
}

body{
    padding:0;
    margin:0;
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;  
    font-size: 62.5%;
    background:white;
}
.deleteBox{
    z-index: 30;
    color:black;
    position:absolute;
    width:100%;
    height:9.8vh;
    top:0;
    font-size: 1rem;
    transform:translateY(-9.8vh);
    overflow: hidden;
    /* background: red; */
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    background: -webkit-linear-gradient(top,#8ce2ff,rgba(0,0,0,0)) ; 
    background: linear-gradient(#8ce2ff,rgba(0,0,0,0)) ; 
}
body .deleteBoxShow{
    transform:translateY(0);
}
.oneItemBox{
    cursor: pointer;
    font-size: 1rem;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    transition: all 0s;
}
body .message{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:  50px;
    padding-right:  50px;
    z-index: 200;
    text-align: center;
    word-break: normal;
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
}
.oneItem{
    color:black;
    cursor: pointer;
    position: absolute;
    height: 527px;
    width: 527px;
   box-shadow: 10px 10px 10px black ;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1.5s;
    display:flex;
    justify-content: center;
    align-items: center;
}
.colorBox{
    position:absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bubble_one.svg") no-repeat;
    background-size: 98.5% 98.5%;
    background-position: center;
    opacity: 0;
    z-index: 5;
    transition: all 1s;
    border-radius: 50%;
}
.bubbleBox .myAnimate{

    /* width:200vh;
    height:200vh; */
    transform:scale(10);
    
}
.bubbleBox .myAnimate .colorBox{
    opacity:1;
    background:white;
    z-index:999;
}
.clone{
    opacity: 0.5;
}
.beCloned{
    opacity:0.7;
}
body .deleteBoxActive{
    background: -webkit-linear-gradient(top,#F56C6C,rgba(0,0,0,0)) ; 
    background: linear-gradient(#F56C6C,rgba(0,0,0,0)) ; 
}
.first{
    display: none;
    top:300px;
    left: 450px;
    transform:scale(1);
}
.first .oneItem{
    background: -webkit-linear-gradient(rgb(125 , 159, 255,0) 30%,rgb(251, 232, 233) 100%);
    background: radial-gradient(rgb(125 , 159, 255,0) 30%,rgb(251, 232, 233) 100%); /* 标准的语法 #8ec5fc*/
}
.second .oneItem{
    background: -webkit-linear-gradient(rgb(125 , 159, 255,0) 30%,rgb(255, 232, 214) 100%);
    background: radial-gradient(rgb(125 , 159, 255,0) 30%,rgb(255, 232, 214) 100%); /* 标准的语法 #8ec5fc*/
}
.third .oneItem{
    background: -webkit-linear-gradient(rgb(151  , 125, 255,0) 30%,rgb(234, 247, 255) 100%);
    background: radial-gradient(rgb(151  , 125, 255,0) 30%,rgb(234, 247, 255) 100%); /* 标准的语法 #8ec5fc*/
}
.forth .oneItem{
    background: -webkit-linear-gradient(rgb(255, 125, 191,0) 30%,rgb(222, 249, 243) 100%);
    background: radial-gradient(rgb(255, 125, 191,0) 30%,rgb(222, 249, 243) 100%); /* 标准的语法 #8ec5fc*/
}
.five .oneItem{
    background: -webkit-linear-gradient(rgb(125 , 159, 255,0) 30%,rgb(204, 251, 202) 100%);
    background: radial-gradient(rgb(125 , 159, 255,0) 30%,rgb(204, 251, 202) 100%); /* 标准的语法 #8ec5fc*/
}
.add .oneItem{
    background: -webkit-linear-gradient(rgb(125 , 159, 255,0) 30%,rgb(243, 202, 251) 100%);
    background: radial-gradient(rgb(125 , 159, 255,0) 30%,rgb(243, 202, 251) 100%); /* 标准的语法 #8ec5fc*/
}
.first.animate{
    animation: myFirst 3s;
}
@keyframes myFirst{
    0%{
        transform: translateY(100vh) scale(0);

    }
    100%{
        transform: translateY(0) scale(1);
    }
}
.second{
    display: none;
    top:580px;
    right: 300px;
    transform:scale(0.9);
}
.second.animate{
    animation: mySecond 3s;
}
@keyframes mySecond{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(0) scale(0.9);
    }
}
.third{
    display: none;
    top:850px;
    left: 400px;
    transform:scale(0.95);
}
.third.animate{
    animation: myThird 3s;
}
@keyframes myThird{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(0) scale(0.95);
    }
}
.forth{
    display: none;
    top: 1100px;
    right: 350px;
}
.forth.animate{
    animation: myForth 2.5s;
}
@keyframes myForth{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(0) scale(1);
    }
}
.five{
    display: none;
    top:1400px;
    left: 400px;
    transform:scale(0.8);
}
.five.animate{
    animation: myFive 2s;
}
@keyframes myFive{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(0) scale(0.8);
    }
}
.add .oneItem{
    font-size: 3rem;

    /* background: #CCC; */
}
.add {
    display:none;
    top:1570px;
    right:430px;
    transform:scale(0.7);
}
.add.animate{
    animation: myAdd 2s;
}
.animate{
    z-index: 10;
}
@keyframes myAdd{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(0) scale(0.7);
    }
}
.tool{
    position: absolute;
    bottom:20px;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    opacity: 0;
    transition: all 2s;
}

.refresh button{
    background: url("../img/button_create.svg");
    background-size: 110% 110%;
    background-position: center;
    width:318px;
    height: 108px;
    font-size: 0.8rem;
    border-radius: 10px;
    border:0;
    outline: 0;
    z-index: 2;
}
.refresh button:active{
    position: relative;
    left: 1px;
    top:1px;
}
.myBut button{
    background: url("../img/button_create.svg");
    background-size: 110% 400px;
    background-position: center;
    width:400px;
    height: 108px;
    font-size: 0.8rem;
    border-radius: 10px;
    border:0;
    outline: 0;
    margin-top:50px;

}
.bubbleMachine{
    position: absolute;
    width: 100%;
    bottom:0
}
.bubbleMachine .machineLeft{
    width: 300px;
    height: 300px;
    background: #CCC;
    display:flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-repeat: no-repeat;
    background: url("../img/left.png");
    background-size: auto 100%;
    background-repeat: no-repeat;

}
.bubbleMachine .machineRight{
    width:300px;
    height: 300px;
    background: #CCC;
    display:flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    float: right;
    background: url("../img/right.png");
    background-size: auto 100%;
    background-repeat: no-repeat;

}
.toFirstPage{
    box-sizing:border-box;
    text-align: center;
    border-radius: 0 20px 20px 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100px;
    height: 300px;
    padding:6px;
    top:50%;
    margin-top:-150px;
    background: rgba(246, 184, 102, 0.90);
    color:white;
    z-index:200;
    opacity: 0.7;
}
.toThirdPage{
    box-sizing:border-box;
    text-align: center;
    vertical-align: center;
    opacity: 0.7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  20px 0 0 20px ;
    font-size: 1rem;
    width: 100px;
    height: 300px;
    left:auto;
    right: 0;
    padding:6px;
    top:50%;
    margin-top:-150px;
    background: rgba(246, 184, 102, 0.90);
    color:white;
    z-index:200;
}
.picBox{
    position: relative;
    z-index: 999;
    border-radius: 60px;
    overflow: hidden;
}
.picMessage{
    margin-top: 30px;
    height: 100px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb379;
    font-size: 0.8rem;
    border:1px black solid;
}
.picDelete{
    position: absolute;
    right: 30px;
    top:30px;
    outline: 0;
    border:0;
    width:80px;
    height: 80px;
    background: url("../img/qrcode_delete.png") no-repeat;
    background-position: center;
}
.picBoxMask{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 999;
}
.showSearch{
    position: absolute;
}












.maxShow{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

}
.hotComment div{
    font-size: 1rem;
}
.hotComment{
    padding:0;
    margin:0;
    list-style:none;
    position: absolute;
    width:1116px;
    left:0;
    right:0;
    margin:0 auto;
    /* height: calc(95vh - 50px); */
    top: 80px;
    
}
.hotComment li{
    padding:0;
    margin:0;
    position: relative;
    height:18vw;
    border:2px black solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom:54px; 
    background: rgba(255,255,255,.7);
    
}
.love{
    position: absolute;
    height: 100%;
    width:100px;
    right:0;
    padding-right: 4vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.love img{
    height: 45px;
    width:65px;
}
.love span{
    color:red;
    font-size: 0.7rem;
}
.king{
    margin-left: 3vw;
    left:3vw;
    width:60px;
    height: 37px;
}
.king1 .king{
    background: url("../img/king1.svg");
}
.king2 .king{
    background: url("../img/king2.svg");
}
.king3 .king{
    background: url("../img/king3.svg");
}
.selfImg{
    box-sizing: border-box;
    height: 182px;
    width: 182px;
    margin-left: 2vw;
    border-radius: 50%;
    left:10vw;
    border:0.3vw black solid;
}
.hotCommentItem{
    display: flex;
    justify-content: center;
    width:600px;
    flex-direction: column;
    font-size: 0.8rem;
    margin-left: 40px;
    
}
.hotCommentItem strong{
    font-weight:900;
    font-size: 1rem;
    display:inline-block;
}
.hotComment li button{
    padding:0;
    margin:0;
    position: absolute;
    height: 4.1vw;
    width:11.1vw;
    line-height: 4.1vw;
    text-align: center;
    right:2vw;
    bottom:1vw;
    border-radius: 1vw;
    outline: 0;
    border:0.1vw solid black;
    background: white;
}
.showSearch{
    position: absolute;
    right: 1vw;
    border-radius: 50%;
    top:60px;
    background: #b9f0ff;
    height:13.05vw;
    width:11.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.oneCommentTopic{
    width:570px;
    display: flex;
}
.oneCommentTopic div{
    vertical-align: center;
    display:inline-block;
    max-width: 400px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
.commentMessage{

    max-width: 1000px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}









.hotSearch{
    
    margin:0;
    padding:0;
    margin-left: 41.5px;
    width:1159px;
    border:#CCC solid 4px;
    border-radius: 70px;
    font-size: 1rem;
    list-style: none;
    margin-top:100px;
    margin-bottom:100px;
    background :rgba(255,255,255,.7);
}
.hotSearch li{
    border-top: 2px solid #CCC;
    min-height: 175px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.hotSearch li:not(.hotSearchTitle){
    font-size: 1rem;
}
.hotSearch li div{
    /* overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow:ellipsis; */
    width: 1050px;
    margin: 30px 0;
}
.hotSearch li img{
    margin-right:10px;
}
.hotSearchTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 372px;
}
.searchTop,.showSearch{
    display: none;
}
.s2Show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s1Show{
    display: none;
}
.s22Show{
    display: none;
}
.s22Show.back{
    position: absolute;
    z-index: 500;
    top:50px;
    left: 30px;
    width:100px;
    height: 100px;
    background: url("../img/back.svg");
    background-size: 100% 100%;
    background-position: center;
}

.test{
    position:absolute;
    bottom:0vh;
    height: 20vh;
    z-index: 999;

}
.haveNoCom{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 1.5rem;
}
.haveNoCom div{
    color:#CCC;
    font-family: Georgia, serif;
}
.com{
    background: url("../img/bg33.jpg");
    background-size: 100% 100%;
    background-position: bottom;
}
.sea{
    background: url("../img/bg11.jpg");
    background-size: 100% 100%;
    background-position: bottom;
}
.bubbleBox{
    position: relative;
    
    z-index: 50;
    height: 100%;
    min-height: 2000px;

}
.light{
    position: absolute;
    width:80%;
    height:80%;
    border-top:rgba(255, 255, 255, 0.8) 10px solid;
    border-left: rgba(0, 0, 0, 0) solid 30px;
    border-right: rgba(0, 0, 0, 0) solid 30px;
    transform: rotate(120deg);
    border-bottom:rgba(255, 255, 255, 0.8) 10px solid;
    border-radius: 100%;
    z-index: 100;
}
.firstToSecond{
    box-shadow: -8px 0 25px black ;
}
.secondToFirst{
    box-shadow: 8px 0 25px black ;
}
.upbubble{
    background: url("../img/bg22.jpg");
    background-size: 100% 100%;
    background-position: bottom;
    overflow: scroll;
    height: 100vh;
    width:100vw;
}
#reply_success{
    display: none;
	position: fixed;
	top:50vw;
	left: 30vw;
	width: 40vw;
	height: 12vw;
	background: rgba(188,188,188,.8);
	border-radius: 3.5vw ;
	z-index: 100;
	line-height: 12vw;

}
#reply_success_text{
    margin:0;
    padding:0;
	font-size: 4vw;
	width: 100%;
	height: 12vw;
	line-height: 12vw;
	left:0;
	text-align: center;
	color: #FFFFFF;
}
.tipMes{
    text-align: center;
    line-height: 150px;
    font-size: 0.8rem;
    height: 150px;
    width:800px;
    border-radius: 100px;
    background: rgba(255,255,255,0.7);
}
#qrcode{
    display: none;
}
#two{
    width: 800px;
    height: auto;
}





