body{
	background: #FFFFFF;
}
textarea{resize:none;} 
p{margin: 0;}
#base{
     position: absolute;
     left: 0;
     top:0;
     width: 100%;
}

#topic{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
}

#topicName{
	position: absolute;
	top:2.5vw;
	width: 92vw;
	left: 4vw;
	margin: 0;	
    font-size: 4vw;
    text-align: left;
    font-weight: 700;
}

#inputComment{
	position: absolute;
	top:29vw;
	width: 83vw;
	height: 47vw;
	left: calc(8.5vw - 3px);
	border-color: rgb(169, 169, 169);
	font-size: 5vw; 
}

#commitComment{
	position: absolute;
	top:81vw;
	width: 38.89vw;
	height:12.5vw;
	left: 30.555vw;
	font-size: 5vw; 

}

#sort{
	position: absolute;
	top: 7vw;
	width: 100%;
	height:10vw;
	border-top-width:1px;
	border-bottom-width: 1px;
	border-left-width: 0;
    border-right-width: 0; 
	border-style: solid;
	border-color: rgb(222, 222, 222);
	left: 0;
}

#sort_hot{
	position: absolute;
	top:1.5vw;
	left: 5vw;
	width: 35vw;
	width: 42vw;
	height:7vw;
	background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

#sort_time{
	position: absolute;
	position: absolute;
	top:1.5vw;
	right: 5vw;
	width: 42vw;
	height:7vw;
	background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
#sort_time_text{
	position: absolute;
	top:calc(50% - 2.77777777vw);
	font-size: 4vw; 
	margin: 0px;
	width: 100%;
	text-align: center;
	color: #000000;
}

#sort_hot_text{
	position: absolute;
	top:calc(50% - 2.77777777vw);
	font-size: 4vw; 
	margin: 0px;
	width: 100%;
	text-align: center;
	color: rgba(22, 155, 213, 1);
}

#comment_hot{
	position: absolute;
	top:calc(21vw + 2px);
	width: 100%;
	left: 0;
}

#comment_time{
	position: absolute;
	top:calc(21vw + 2px);
	width: 100%;
	left: 0;
}

.comments{
 	position: absolute;
 	width: 100%;
 	height:2.5vw;
 	top:0;
 	border: 0;
}

.avatar{
	position: absolute;
	top:4vw;
	left: 4vw;
	height:8vw;
	width: 8vw;
	border: none;
    border-radius: 4vw;

}

.username{
	position: absolute;
	top:4.5vw;
	font-size: 3.5vw;
	left: 13.5vw;
	color:rgb(174, 174, 174);
}

.likes{
	position: absolute;
	top:11vw;
	font-size: 3.5vw;
	right: 4.2vw;
	width: 10vw;
	text-align: center;

	}

.like_img{
	position: absolute;
	top:5vw;
	right: 6vw;
	height:6vw;
	width: 6vw;
    border: none;
    z-index: 10;
}

.content{
	position: absolute;
	top:10.5vw;
	left: 13.5vw;
	width: 72vw;
	font-size: 3.5vw;
	word-wrap: break-word;
	word-break: break-all;
}

.reply{
	position: absolute;
	top:15vw;
	right: 3vw;
	height:8.333vw;
	width: 27vw;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-style: solid;
    border-radius: 5px;
    z-index: 2;
}

.reply_text{
	position: absolute;
	width: 100%;
	text-align:center;
	top:1.7vw;
	font-size: 3.5vw;
}

.subcomment{
	position: absolute;
	right: 4.5vw;
	left: 13.5vw;
	height:2vw;
	top:13vw;
}

.subcontent{
	position: absolute;
	left: 8vw;
	top:6vw;
	right: 8vw;
	font-size: 3.5vw;
	word-wrap: break-word;
	word-break: break-all;
}

.sub_name{
	font-weight: 600;
}




#reply_area{
	position: fixed;
	width: 100%;
	height: 11vw;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color:#FFFFFF; 
}

.input_reply{
	width: calc(65% - 1px);
	height: calc(7vw - 4px);
	border-style: solid;
	border-color:  rgb(242, 242, 242);
    border-width: 1px;
     border-radius: calc(5vw - 2px);

    font-size: 3.5vw;
    background-color:  rgb(242, 242, 242);
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    padding-left:3vw;
    padding-right: 3vw; 
}

#sent_reply{
	position: absolute;
	right: 3vw;
	bottom: 2vw;	
	width: 20% ;
	height:7vw;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-color:  rgb(169, 169, 169);
	border-radius: 3.5vw ;
	border-width: 1px; 
	font-size: 3.5vw;
	border-style: solid; 

}

#subcomment_detail{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}

#subcomment_detail_head{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 12vw;
	border-top-width: 0;
 	border-bottom-width: 1px;
 	border-left-width:0;
 	border-right-width:0;  
 	border-style: solid;
 	border-color: rgb(242, 242, 242);
}

.subtopic{
	position: absolute;
	top: 3vw;
	width: 100%;
	text-align: center;
	font-size: 4vw;
}


#owner{
	position: absolute;
	top:5vw;
	font-size: 3vw;
	left: 2vw;
	color: #FF0000;
}

#blank{
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	z-index: -100;
}

.border_div{
	position: absolute;
	top:0;
    left: 14vw;
    width: 80vw;
    border-top-width: 0;
 	border-bottom-width: 1px;
 	border-left-width:0;
 	border-right-width:0;  
 	border-style: solid;
 	border-color: rgb(242, 242, 242);
   z-index: -1;
}

.sub_avatar{
	position: absolute;
	height:6vw;
	width: 6vw;
	border: none;
    border-radius: 3vw;
	left: 0;
	top: 0;
}
.sub_username{
	position: absolute;
	top:1vw;
	font-size: 3.5vw;
	left: 8vw;
	color:rgb(174, 174, 174);
}

.more_subcomment{
	position: absolute;
	left: 8vw;
	top:2vw;
	right: 8vw;
	font-size: 3.5vw;
	word-wrap: break-word;
	word-break: break-all;
	color: rgba(22, 155, 213, 1);
}
.comment_foot{
	position: absolute;
	width: 100%;
	left: 0;
	top:5vw;
	height: 20vw;
	text-align: center;
	font-size: 3.5vw;
}

#comment_detail{
	height:5vw;
	border-top-width: 0;
 	border-bottom-width: 1px;
 	border-left-width:0;
 	border-right-width:0;  
 	border-style: solid;
 	border-color: rgb(242, 242, 242);
}


#input_comment_area{
	position: fixed;
	width: 100%;
	height: 11vw;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color:#FFFFFF; 
}
#input_comment{
	width: calc(65% - 1px);
	height: calc(7vw - 4px);
	border-style: solid;
	border-color:  rgb(242, 242, 242);
    border-width: 1px;
     border-radius: calc(5vw - 2px);

    font-size: 3.5vw;
    background-color:  rgb(242, 242, 242);
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    padding-left:3vw;
    padding-right: 3vw;
}

#topic_likes_img{
	position: absolute;
	bottom: 2.5vw;
	right: 16vw;
	height: 6vw;
	width: 6vw;
}
#topic_likes{
	position: absolute;
	right: 5.8vw;
	font-size: 3.5vw;
    width: 8vw;
    text-align: center;
	bottom: 3.25vw;
}
#back{
	position: absolute;
	top:4vw;
	left: 6vw;
	height:4vw;
	width: 3vw;
	border: none;
	z-index: 10;

}

#sent_comment{
	position: absolute;
	right: 3vw;
	bottom: 2vw;	
	width: 20% ;
	height:7vw;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-color:  rgb(169, 169, 169);
	border-radius: 3.5vw ;
	border-width: 1px; 
	font-size: 3.5vw;
	border-style: solid; 
	z-index: 100;
}

.comment_subcomment{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 8vw;
}

.sort_img{
  position: absolute;
  top:1.5vw;
  height: 4vw;
  width: 4vw;
  right: 6vw;
}

#reply_success{
	position: fixed;
	top:50vw;
	left: 30vw;
	width: 40vw;
	height: 12vw;
	background: rgba(188,188,188,.8);
	border-radius: 3.5vw ;
	z-index: 100;
	line-height: 12vw;

}
#reply_success_text{
	/*position: absolute;*/
	font-size: 4vw;
	width: 100%;
	height: 12vw;
	line-height: 12vw;
	left:0;
	text-align: center;
	color: #FFFFFF;
}

#topic_content{
	position: absolute;
	top:4vw;
	width: 92vw;
	left: 4vw;
	margin: 0;
    font-size: 3.5vw;
    text-align: left;
}