#input_topic{
	position: absolute;
	top:20vw;
	width: 83vw;
	left: calc(8.5vw - 3px);
	font-size: 5vw;
    cursor: pointer;
    border: 5px solid rgba(255, 255, 255, 0.5);
	border-radius: 3vw;
	-webkit-appearance: none;
}

#input_content{
	position: absolute;
	top:35vw;
	width: 83vw;
	height: 45vw;
	left: calc(8.5vw - 3px);
	font-size: 4vw;
	cursor: pointer;
	border: 5px solid rgba(255, 255, 255, 0.5);
	border-radius: 3vw;
	-webkit-appearance: none;
}

#commit_topic{
	position: absolute;
	top: 100vw;
	width: 38.89vw;
	height:12.5vw;
	left: 30.555vw;
	font-size: 5vw;
	border: 1px solid #dcdfe6;
	border-radius: 6vw;
	background-color: #86c996;
	color: #fff;
	-webkit-appearance: none;
}

p{
	margin: 0;
	font-size: 7.25vw;
	line-height: 10vw;
	width: 100%;
	height: 10vw;
	color: #86c996;
	text-align: center;
}

#heading{
	position: absolute;
	top: 3vw;
	left: 0;
	width: 100%;
	border-top-width: 0;
 	border-bottom-width: 0;
 	border-left-width:0;
 	border-right-width:0;  
 	border-style: solid;
 	border-color: #86c996;

}

body{
	background: url("../img/bg22.jpg");
    background-size: cover;
    background-position: bottom;
}

#reply{
	position: fixed;
	top:50vw;
	left: 30vw;
	width: 40vw;
	height: 12vw;
	background: rgba(188,188,188,.8);
	border-radius: 3.5vw ;
	z-index: 100;
	line-height: 12vw;
}

#reply_success_text{
	/*position: absolute;*/
	font-size: 4vw;
	width: 100%;
	height: 12vw;
	line-height: 12vw;
	left:0;
	text-align: center;
	color: #FFFFFF;
}