*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 } 

.background{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: block;
    background-image: url(../img/bg22.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* 活动介绍页 */
.logo{
    position: relative;
    width: 100vw;
    margin-top: 3vh;
    text-align: center;
}
.logo img{
    height: 35vw;
}
.information{
    position: relative;
    width: 70vw;
    /*height: 70vw;*/
    margin: 20px auto 0;
    /*left:15vw;*/
    border:0.2vw solid gray;
    /* box-shadow: 0.2vw 0.2vw gray; */
    border-radius: 3vw;
    overflow: hidden;
    padding: 2vw;
    background-color: rgba(255,255,255,.5);
}
.information .content{
    /* text-align: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 8vw;
    font-size: 4.3vw;
}
.information span{
    font-weight: bold;
}
.button{
    position: relative;
    width: 100vw;
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer;
    /*margin-bottom: 5vw;*/
}
.button button{
    width: 30vw;
    height: 10vw;
    /*border: 0.1vw solid black;*/
    border: 0;
    margin-bottom: 20px;
    /*border-radius: 1vw;*/
    font-size: 5vw;
    border-radius: 5vw;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: rgb(249, 208, 155);
    color: #fff;
}
/* 话题选择页面 */
.bgchoiceTopic{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: none;
    background-image: url(../img/bg22.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.choiceTitle{
    position: relative;
    width: 77vw;
    height: 6.3vw;
    margin-top: 12.3vw;
    margin-left: 13.5vw;
    font-size: 6vw;
    line-height: 6.3vw;
    font-family: HYYouYuanTiJ;
}
.pchoiced{
    position: relative;
    margin-top: 5px;
    margin-left: 10.4vw;
    width: 79vw;
    font-size: 4.5vw;
}
.userChoiced{
    position: relative;
    margin-top: 1px;
    margin-left: 10.4vw;
    width:79vw;
    /*height: 10vw;*/
    text-align: center;
}
.userChoiced>p{
    font-size: 3vw;
}
.userChoiced div{
    /* width: 100%; */
    /* height:6.7vw; */
    /* height:8vw;
    margin-bottom: 1.5vw; */
    width: 0vw;
    height: 0vw;
    margin: 0 auto;
}
.userChoiced .bg{
    width: 100%;
    height: 100%;
}
.userChoiced div .cross{
    position: absolute;
    top:9%;
    height: 4.9vw;
    left:89%;
    cursor: pointer;
}
.choice{
    position: relative;
    width:79vw;
    /*height: 65vw;*/
    margin: 0 auto;
    /*left:10.4vw;*/
    /*overflow: hidden;*/
    text-align: center;
}
.choiceButton{
    position: relative;
    margin-top: 20px;
    width:100vw;
    text-align: center;
    margin-bottom: 10vw;
}
.choiceButton button{
    height: 8vw;
    width: 35vw;
    /*background-color: rgb(179, 178, 178);*/
    border-radius: 4vw;
    font-size: 5vw;
    line-height: 8vw;
    /*color:gray;*/
    border: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: rgb(249, 208, 155);
    color: #fff;
}
.rechoice{
    position: relative;
    margin-top: 20px;
    margin-left: 14vw;
    font-size: 4.5vw;
}
.topic{
    position: relative;
    width: 79vw;
    margin: 0 auto;
    min-height:6.9vw;
    /* height:8vw; */
    margin-top: 2vw;
    cursor: pointer;
}
.topic div{
    height: 100%;
    width: 100%;
}
.topic-bg {
    border: .2vw solid #a6a6a6;
    border-radius: 4px;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.topicimg{
    width: 100%;
    height: 100%;
}
.fireimg{
    position: absolute;
    left:5vw;
    top:10%;
    height: 4.9vw;
}
.topic div p{
    position: relative;
    font-size:4vw;
    width:80%;
    /*height:100%;*/
    left:10vw;
    top:-0.5vw;
    line-height: 6.9vw;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    text-align: left;
    
}
.topic div div{
    display: none;
}
/* 新加的话题选择动画 */
.hide{
    animation: hide ;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    min-height: 0;
}
@keyframes hide{
    99% {
        opacity: 0;
    }
    100% {
        height: 0;
        /*width: 0vw;*/
        /*margin-top: 0;*/
        opacity: 0;
    }
}
.show{
    animation: show ;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /*overflow: hidden;*/
}
@keyframes show{
    0% {
        height: 0;
        width: 0;
        margin-top: 0;
    }
    50% {
        height: 0;
        width: 100%;
        margin-top: 0;
    }
    100% {
        width: 100%;
        height: auto;
        /* height:8vw; */
        margin-top: 2vw;
    }
}
/* 话题添加 */
.userChoiced>div{
    position: relative;
    min-height:6.9vw;
    height: auto;
    border: .2vw solid #a6a6a6;
    border-radius: 4px;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    cursor: pointer;
}
.userChoiced>div>div {
    display: none;
}
.userChoiced p{
    position: relative;
    width:85%;
    height:100%;
    left:3vw;
    top:0vw;
    line-height: 6.5vw;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    text-align: left;
    font-size: 4vw;
}
.userChoiced>p{
    position: relative;
}
/* 引导页面 */
.leading{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
}
.swiper-container{
    position: absolute;
    left: 15vw;
    top:30vw;
    width:70vw;
    height:100vw;
    overflow: hidden;
}
.swiper-wrapper{
    width:80vw;
    height:80vw;
}
.swiper-slide{
    width:80vw;
    height:80vw;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.leading button {
    position: absolute;
    top:140vw;
    left: 40vw;
    width:20vw;
    height:8vw;
    background-color: white;
    border: 0.2vw solid gray;
    border-radius: 2vw;
    cursor: pointer;
}

